@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #34444f;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
}
.sort-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  list-style-type: none;
  padding: 0px;
}
.sort-list li {
  background-color: #fff;
  display: flex;
  flex: 1;
}
.sort-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}
.sort-list li .number {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 28px;
}
.sort-list li .person-name {
  margin: 0 20px 0 0;
}
.sort-list li.right .person-name {
  color: #3ae374;
}
.sort-list li.wrong .person-name {
  color: #ff3a3a;
}
.sort-list li.over .draggable {
  background-color: #eaeaea;
}
.draggable {
  display: flex;
  flex: 1;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.check-btn {
  background-color: var(--background-color);
  padding: 5px 10px;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}
.check-btn:active {
  transform: scale(0.98);
}
.check-btn:focus {
  outline: none;
}
