@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$light-color: #f4f4f4;
$primary-color: #0e6cff;
// $primary-color:#e0ffff;
$secondary-color: #ff8700;
$font-stack: "Montserrat", sans-serif;

// set text color based on bg color
@function set-text-color($color) {
  @if (lightness($color) >70) {
    @return #333;
  } @else {
    @return #fff;
  }
}
// set bg color and text color
@mixin set-bg-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
